$bg: #606060;
$bg-2: #18191b;
$primary: #fab207;
$font-primary: "Open Sans", Arial, Helvetica, sans-serif;
$font-secondary: "Raleway", Arial, Helvetica, sans-serif;
$font-epic: "Dosis", Arial, Helvetica, sans-serif;

// screen sizes

$sm: 375px;
$md: 768px;
$lg: 992px;
$lg: 1140px;
